<!DOCTYPE html>
<html lang="en">
<head>
    <title>Burtu Spēle</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
        body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
        .w3-bar,h1,button {font-family: "Montserrat", sans-serif}
        .fa-anchor,.fa-coffee {font-size:200px}
        .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            max-width: 300px;
            margin: auto;
            text-align: center;
            font-family: arial;
        }

        .title {
            color: grey;
            font-size: 18px;
        }

        button {
            border: none;
            outline: 0;
            display: inline-block;
            padding: 8px;
            color: white;
            background-color: #000;
            text-align: center;
            cursor: pointer;
            width: 100%;
            font-size: 18px;
        }

        a {
            text-decoration: none;
            font-size: 22px;
            color: black;
        }

        button:hover, a:hover {
            opacity: 0.7;
        }
    </style>
</head>
<body>
    <!-- Navbar -->
    <div class="w3-top">
        <div class="w3-bar w3-red w3-card w3-left-align w3-large">
            <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
            <a href="#main" class="w3-bar-item w3-button w3-padding-large w3-white">Galvēnā</a>
            <a href="#play" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Spēlēt</a>
            <a href="#rules" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Noteikumi</a>
            <a href="#leaderboard" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Rezultāti</a>
            <a href="#creators" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Autori</a>
        </div>

        <!-- Navbar on small screens -->
        <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
            <a href="#main" class="w3-bar-item w3-button w3-padding-large">Galvēnā</a>
            <a href="#play" class="w3-bar-item w3-button w3-padding-large">Spēlēt</a>
            <a href="#rules" class="w3-bar-item w3-button w3-padding-large">Noteikumi</a>
            <a href="#leaderboard" class="w3-bar-item w3-button w3-padding-large">Rezultāti</a>
            <a href="#creators" class="w3-bar-item w3-button w3-padding-large">Autori</a>
        </div>
    </div>

    <!-- Header -->
    <header class="w3-container w3-red w3-center" style="padding:128px 16px" id="main">
        <h1 class="w3-margin w3-jumbo">Burtu spēle</h1>
        <button class="w3-button w3-black w3-padding-large w3-large w3-margin-top" href="#play">Spēlēt</button>
    </header>

    <!-- Spēle -->
    <div class="w3-row-padding w3-padding-64 w3-container" id="play">
        <button onclick="StartGame()">Sākt</button>
    </div>

    <!-- Noteikumi -->
    <div class="w3-row-padding w3-light-grey w3-padding-64 w3-container" id="rules">
        <h1><b>Noteikumi</b></h1>
        <ul style="font-size: 1.5em">
            <li>Spēle sastāv no desmit raundiem, kur katrā tiek izjaukts viens nejauši izvēlētais vārds, kurš jāsaliek kopā, lietojot dotos burtus.</li>
            <li>Pirmajos trīs raundos jāsaliek vārdi, kuri sastāv no 4 burtiem. Otrajos trīs raundos ir vārdi, kuri sastāv jau no 5 burtiem. Trešajos trīs raundos vārdi sastāv jau no 6 burtiem, un beigu raundā ir vārds no 7 burtiem.</li>
            <li>Katra raunda ilgums ir atkarīgs no burtu skaita vārdā: 4 burti – 30 sekundes, 5 burti – 45 sekundes, 6 burti – 90 sekundes un 7 burti – 120 sekundes. Maksimāli spēle ilgs 615 sekundes jeb 10 minūtes un 15 sekundes (ir arī iespēja pabeigt spēli ātrāk).</li>
            <li>Par katru pareizi uzminēto burtu Jūs dabūsiet 1 punktu, par uzminētu vārdu, kurš sastāv no 4 burtiem tiks piešķirti 5 punkti, par vārdu no 5 burtiem – 7,5 punkti, par vārdu no 6 burtiem – 10 punkti un par vārdu no 7 burtiem – 15 punkti. Jums arī tiks piešķirti papildus 0,25 punkti par katru neizlietotu sekundi.</li>
            <li>Spēles beigās ir iespējams saglābāt savu rezultātu un ielikt to kopējā rezultātu tabulā, kura ir redzama visiem lietotājiem.</li>
        </ul>
    </div>
    <!--Rezultāti-->
    <div class="w3-row-padding w3-padding-64 w3-container" id="leaderboard">
        <p>Šeit būs rezultātu tabula.</p>
    </div>
    <!--Autori-->
    <div class="w3-row-padding w3-light-grey w3-padding-64 w3-container" id="creators" style="display: flex; justify-content: center">
        <div class="card" style="background: white">
            <h1>Veronika Lohmanova</h1>
            <p class="title">Programmētāja</p>
            <p>Rīgas Valsts 1. ģimnāzija</p>
            <div style="margin: 24px 0;">
                <a href="https://twitter.com/i_am_fulcrum"><i class="fa fa-twitter"></i></a>
                <a href="https://www.linkedin.com/in/veronika-lohmanova-74b777234/"><i class="fa fa-linkedin"></i></a>
                <a href="https://github.com/fulcrum101"><i class="fa fa-github"></i></a>
            </div>
            <p><button>Contact</button></p>
        </div>
        <div class="card" style="background: white">
            <h1>German Prudivus</h1>
            <p class="title">Programmētājs</p>
            <p>Rīgas Valsts 1. ģimnāzija</p>
            <div style="margin: 24px 0;">
                <a href="https://twitter.com/g3rm1n_"><i class="fa fa-twitter"></i></a>
                <a href="https://www.linkedin.com/in/german-prudivus-0b5395229/"><i class="fa fa-linkedin"></i></a>
                <a href="https://github.com/GermanPrudivus"><i class="fa fa-github"></i></a>
            </div>
            <p><button>Contact</button></p>
        </div>
    </div>
    <!-- Footer -->
    <footer class="w3-container w3-padding-64 w3-center w3-opacity">  
        <div class="w3-xlarge w3-padding-32"></div>
    </footer>

    <script>
        // Used to toggle the menu on small screens when clicking on the menu button
        function myFunction() {
            var x = document.getElementById("navDemo");
            if (x.className.indexOf("w3-show") == -1) {
                x.className += " w3-show";
            } else { 
                x.className = x.className.replace(" w3-show", "");
            }
        }
        function PlayRound(letter_count, round_numb, time){
            alert(String(letter_count) + " " + String(round_numb) + " " + String(time));
        }
        function StartGame(){
            // get rules
            fetch('http://127.0.0.1:5000/get_rules')
            .then(response => response.json())
            .then(dati => {
                    let round_numb = 1;
                    for (let x of dati){
                        for (let i = 0; i < x['round_count']; i++){
                            PlayRound(x['letter_count'], round_numb, x['time']);
                            round_numb++;
                        }
                    }
            })
        }
    </script>
</body>
</html>

